.trends{
    margin-top: 50px;
}

.combination{
    width: 100%;
    height: 600px;
}

.other_comp{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.caf{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}